body{
    background-color: #222222;
    color: #eeeeee;
}

nav{
    display: flex;
    flex-direction: row;
    width:100%;
    width:100%;
}

nav>div{
    width:100%;
    padding: 7px;
    border-color:#aaaaaa;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    text-align: center;
}

a,
a:hover,
a:active,
a:visited{
    color: #eeeeee;
    text-decoration: #eeeeee none;
}

.question_single_container{
    display: flex;
    padding: 10px;
}

.question_single_container>div{
    padding: 0 5px;
}

.everything_is_right{
	text-align: center;
}

.everything_is_right>h4{
	margin:2px;
}

.everything_is_right>h3{
	margin:3px;
}

.answer{
    padding: 3px 5px;
}
.correct_answer>input{
    padding: 3px 5px;
    background-color: #abf403;
}

.wrong_answer>input{
    padding: 3px 5px;
    background-color: #d31527;
}

.question_selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.difficulty_selector,
.question_type_selector,
.question_amount{
    border: #888888 solid 2px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 5px auto;
}

.question_type_selector>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.question_type_selector>div>label{
    width: 25%;
    height: 40px;
    padding: 5px;
    border: #888888 solid 2px;
    border-radius: 5px;
    margin: 6px auto;
}

.question_type_selector>div>label:last-child{
    width: 90%;
}

.question_type_selector>div>label>div{
    display: flex;
    flex-direction: column;

}
.question_type_selector>div>label>div>input {
    margin: 5px auto;
}

.question_amount>h2{
    margin: 5px;
}

.question_selector>button{
    width: 70px;
    height: 40px;
    margin: 15px auto;
}
