.question_single_container{
    display: flex;
    padding: 10px;
}

.question_single_container>div{
    padding: 0 5px;
}

.everything_is_right>h4{
	margin:2px;
}

.everything_is_right>h3{
	margin:3px;
}

.answer{
    padding: 3px 5px;
}
.correct_answer{
    padding: 3px 5px;
    background-color: #abf403;
}

.wrong_answer{
    padding: 3px 5px;
    background-color: #d31527;
}
